:root {
  --color-font-base: #2d3142;
  --color-main: #ffe66d;
  --color-main-hover: #f9c80e;
  --color-border: #4f5d75;
  --size-controls-height: 40px;
  --size-border-radius: 8px;
  --size-controls-font-height: 17px;
}

html {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--font-font-base);
}

body {
  max-width: 600px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none; 
}

/* --- UI Components --- */
.Input {
  min-height: var(--size-controls-height);
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-border);
  outline: none;
  flex-grow: 1;
  font-size: var(--size-controls-font-height);
  padding: 0 12px;
}

.Button {
  border-radius: var(--size-border-radius);
  border: 1px solid var(--color-border);
  min-width: 120px;
  text-align: center;
  min-height: var(--size-controls-height);
  font-size: var(--size-controls-font-height);
  cursor: pointer;
}

.Button:disabled {
  opacity: 0.48;
  cursor: default;
}

.SubmitButton {
  background-color: var(--color-main);
}

.SubmitButton:hover {
  background-color: var(--color-main-hover);
  transition: background-color ease-in-out 250ms;
}

/* --- TODO app styles --- */
.page-title {
  margin-top: 300px;
  font-size: 48px;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-form-label {
  margin-bottom: 8px;
  display: block;
  font-style: italic;
}

.todo-form-controls {
  display: flex;
  gap: 24px;
}


/* --- TODOs --- */
.TODO-list {
  list-style: none;
}

.TODO {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 12px;
  min-height: var(--size-controls-height);
}

.TODO-text {
  padding: 8px 0;
}

.TODO--done {
  pointer-events: none;
  opacity: 0.48;
}

.TODO--done .TODO-text {
  text-decoration: line-through;
}
